.bar {
  width: 100px;
  height: 100%;
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  color: aliceblue;
  transform: rotate(270deg);
}

.redes {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

.item {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

.x {
  color: aliceblue;
}