.mySwiper {
  width: 75%;
  z-index: 2;
}

.swiperSlide {
}

.allContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 2;
}

.container3 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.containerText {
  width: 40%;
}

.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.heading h3 {
  color: #fff;
  width: 18rem;
  margin: 0;
}

.avanzar {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.preview,
.next {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 2.5rem;
}

.preview:active,
.next:active {
  animation: buttonclick 0.2s ease;
}

@keyframes buttonclick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.textSection3 {
  color: #fff;
  margin-top: 1rem;
}

.img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  border-radius: 15px;
}

.visitar {
  text-decoration: none;
}

@media only screen and (max-width: 450px) {
  .mySwiper {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .container3 {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
  }

  .containerText {
    width: 100%;
    height: auto;
    margin: 0.5rem 0 0 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .heading h3 {
    width: 70%;
  }

  .textSection3 {
    margin: 0.5rem 0 0 0;
    padding: 0;
  }

  .visitar {
    margin: 0;
  }
}
