.navbar {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.pages {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.pages p {
  transform: rotate(90deg);
  margin: 1rem 0 1rem 6px;
}

.line {
  width: 2px;
  height: 40px;
  background-color: #fff;
}

@media only screen and (max-width: 450px) {
  .pages {
    position: absolute;
  }
}