.body {
  padding: 0;
}

.header {
  color: #fff;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar {
  margin: 1rem 1.5rem 0 0;
}

.bar {
}

.home {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.916579131652661) 0%, rgba(0, 0, 0, 1) 50%);
  color: #fff;
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.textHome h1 {
  font-size: 5rem;
}

.pages {
  position: absolute;
  bottom: 35px;
  right: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.pages p {
  transform: rotate(90deg);
  margin: 1rem 0 1rem 6px;
}

.line {
  width: 2px;
  height: 40px;
  background-color: #fff;
}

/* SECTION 1*/

.section1 {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.916579131652661) 0%, rgba(0, 0, 0, 1) 50%);
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  color: aliceblue;
  width: 75%;
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-size: xx-large;
  margin: 0;
}

.description {
  margin: 0;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button {
  width: 12rem;
  height: auto;
}

.button .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}

.button .circle .iconarrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.button .circle .iconarrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button .circle .iconarrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}

.button .buttontext {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .iconarrow {
  background: #282936;
  transform: translate(1rem, 0);
}

button:hover .buttontext {
  color: #282936;
}

.buttontext:hover {
  color: #282936;
}

.x {
  width: 55%;
}

.pages2 {
  width: 0;
  color: #fff;
  position: absolute;
  bottom: -35.5rem;
  right: 77.5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.pages2 p {
  width: 5rem;
  transform: rotate(90deg);
  margin: 1rem 0 1.5rem 6px;
}

.line2 {
  width: 2px;
  height: 40px;
  background-color: #fff;
}

.carousel {
  background-color: red;
  width: 100%;
}

/* SECTION 3*/
.section3 {
  background-color: #000;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: aqua;
  width: 70%;
}

.textS3 {
  background-color: blue;
  width: 30%;
}

.cards {
  background-color: red;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.card {  
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


.image {
}

.heading {
  width: 250px;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.heading:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .code {
    background: #111;
  }
}

@media only screen and (max-width: 450px) {
  .welcome {
    color: #fff;
    position: relative;
  }

  .bar {
    display: none;
  }

  .section2 {
    display: none;
  }

  .contentS3 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2rem;
  }
}